{% extends 'main.html' %}

{% block content %}

    <!-- Main Section -->
    <main class="formPage my-xl">
        <div class="content-box">
            <div class="formWrapper">
                <br>

                <form class="form" method="POST" action="">
                    {% csrf_token %}
                    <h4>ARE YOU SURE YOU WANT TO DELETE "{{ object }}"?</h4><br>
                    <a class="btn btn--sub btn--lg  my-md" href="{{ request.GET.next }}">Go Back</a>
                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
                </form>
            </div>
        </div>
    </main>
{% endblock content %}
